# Predicting Used Car Prices

In [300]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

### Importing libraries

In [301]:
import numpy as np
import pandas as pd

### Fetching Datasets

In [302]:
train = pd.read_csv("Data_Train.csv")
test = pd.read_csv("Data_Test.csv")

## Data Exploration

In [303]:
train.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74

In [304]:
train.shape

(6019, 12)

In [305]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               6019 non-null   object
 1   Location           6019 non-null   object
 2   Year               6019 non-null   int64
 3   Kilometers_Driven  6019 non-null   int64
 4   Fuel_Type          6019 non-null   object
 5   Transmission       6019 non-null   object
 6   Owner_Type         6019 non-null   object
 7   Mileage            6017 non-null   object
 8   Engine             5983 non-null   object
 9   Power              5983 non-null   object
 10  Seats              5977 non-null   float64
 11  Price              6019 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 564.4+ KB

In [306]:
train.nunique()

Name                 1876
Location               11
Year                   22
Kilometers_Driven    3093
Fuel_Type               5
Transmission            2
Owner_Type              4
Mileage               442
Engine                146
Power                 372
Seats                   9
Price                1373
dtype: int64

In [307]:
train.isnull().sum()

Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                42
Price                 0
dtype: int64

#### The columns Mileage, Engine, Power, Seats have null values

## Data Pre-processing

### Removing Outliers from the Data

In [308]:
train.shape

(6019, 12)

In [309]:
train.Fuel_Type.value_counts()

Fuel_Type
Diesel      3205
Petrol      2746
CNG           56
LPG           10
Electric       2
Name: count, dtype: int64

#### Removing the outliers in Fuel_Type

In [310]:
train = train[train['Fuel_Type'] != 'Electric']
train.shape

(6017, 12)

In [311]:
print(train.Kilometers_Driven.min())
print(train.Kilometers_Driven.max())

171
6500000

In [312]:
print(len(train[train['Kilometers_Driven'] > 500000]))
print(len(train[train['Kilometers_Driven'] < 1000]))

4
2

#### Removing the outliers in Kilomerers_Driven

In [313]:
train = train[train['Kilometers_Driven'] < 500000]
train = train[train['Kilometers_Driven'] > 1000]
train.shape

(6002, 12)

#### Modifying car names to group by brand

In [314]:
train.Name = train.Name.str.split().str.get(0)
test.Name = test.Name.str.split().str.get(0)

In [315]:
train.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75
1,Hyundai,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
2,Honda,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
3,Maruti,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
4,Audi,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74

In [316]:
train.Name.value_counts()

Name
Maruti           1208
Hyundai          1104
Honda             608
Toyota            410
Mercedes-Benz     318
Volkswagen        313
Ford              299
Mahindra          271
BMW               266
Audi              236
Tata              184
Skoda             172
Renault           144
Chevrolet         121
Nissan             91
Land               60
Jaguar             39
Fiat               28
Mitsubishi         27
Mini               26
Volvo              21
Porsche            18
Jeep               15
Datsun             13
Force               3
ISUZU               2
Smart               1
Ambassador          1
Isuzu               1
Bentley             1
Lamborghini         1
Name: count, dtype: int64

#### Removing outliers in car brands

In [317]:
train = train[train['Name'] != 'Force']
train = train[train['Name'] != 'ISUZU']
train = train[train['Name'] != 'Bentley']
train = train[train['Name'] != 'Lamborghini']
train = train[train['Name'] != 'Isuzu']
train = train[train['Name'] != 'Smart']
train = train[train['Name'] != 'Ambassador']

In [318]:
train.shape

(5992, 12)

#### Removing Outliers in Price

In [319]:
print(train.Price.min())
print(train.Price.max())

0.44
160.0

In [320]:
train = train[train.Price < 120]
train.shape

(5991, 12)

In [321]:
train = train[train.Price > 0.5]
train.shape

(5985, 12)

#### Converting Mileage, Engine and Power to numerical columns

In [322]:
train.Mileage = train.Mileage.str.split().str.get(0).astype('float')
train.Engine = train.Engine.str.split().str.get(0).astype('int', errors='ignore')
train.Power = train.Power.str.split().str.get(0).astype('float', errors='ignore')
train.head()

test.Mileage = test.Mileage.str.split().str.get(0).astype('float')
test.Engine = test.Engine.str.split().str.get(0).astype('int', errors='ignore')
test.Power = test.Power.str.split().str.get(0).astype('float', errors='ignore')

#### Calculating age of the car from Year

In [323]:
train['Car_age'] = 2020 - train['Year']
test['Car_age'] = 2020 - test['Year']
train.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Car_age
0,Maruti,Mumbai,2010,72000,CNG,Manual,First,26.60,998,58.16,5.0,1.75,10
1,Hyundai,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.2,5.0,12.50,5
2,Honda,Chennai,2011,46000,Petrol,Manual,First,18.20,1199,88.7,5.0,4.50,9
3,Maruti,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,6.00,8
4,Audi,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968,140.8,5.0,17.74,7

#### Applying Log to the Price to normalise it

In [324]:
train.Price = np.log1p(train.Price)

#### Performing label encoding for categorical data

In [325]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [326]:
allowed_names = train['Name'].unique()
allowed_locations = train['Location'].unique()
allowed_fuel_types = train['Fuel_Type'].unique()
allowed_transmissions = train['Transmission'].unique()
allowed_owner_types = train['Owner_Type'].unique()

train['Name'] = label_encoder.fit_transform(train['Name'])
name_mapping = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))

train['Location'] = label_encoder.fit_transform(train['Location'])
location_mapping = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))

train['Fuel_Type'] = label_encoder.fit_transform(train['Fuel_Type'])
fuel_type_mapping = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))

train['Transmission'] = label_encoder.fit_transform(train['Transmission'])
transmission_mapping = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))

train['Owner_Type'] = label_encoder.fit_transform(train['Owner_Type'])
owner_type_mapping = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))


test['Name'] = label_encoder.fit_transform(test['Name'])
test['Location'] = label_encoder.fit_transform(test['Location'])
test['Fuel_Type'] = label_encoder.fit_transform(test['Fuel_Type'])
test['Transmission'] = label_encoder.fit_transform(test['Transmission'])
test['Owner_Type'] = label_encoder.fit_transform(test['Owner_Type'])

train.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Car_age
0,12,9,2010,72000,0,1,0,26.60,998,58.16,5.0,1.011601,10
1,7,10,2015,41000,1,1,0,19.67,1582,126.2,5.0,2.602690,5
2,6,2,2011,46000,3,1,0,18.20,1199,88.7,5.0,1.704748,9
3,12,2,2012,87000,1,1,0,20.77,1248,88.76,7.0,1.945910,8
4,0,3,2013,40670,1,0,2,15.20,1968,140.8,5.0,2.930660,7

#### Dealing with missing values

In [327]:
train.isnull().sum()

Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               0
Engine               36
Power                36
Seats                42
Price                 0
Car_age               0
dtype: int64

In [328]:
train.dtypes

Name                   int32
Location               int32
Year                   int64
Kilometers_Driven      int64
Fuel_Type              int32
Transmission           int32
Owner_Type             int32
Mileage              float64
Engine                object
Power                 object
Seats                float64
Price                float64
Car_age                int64
dtype: object

In [329]:
train.Engine = pd.to_numeric(train.Engine, errors='coerce')
train.Power = pd.to_numeric(train.Power, errors='coerce')
test.Engine = pd.to_numeric(test.Engine, errors='coerce')
test.Power = pd.to_numeric(test.Power, errors='coerce')

In [330]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy ='mean')
train[["Engine", "Power", "Seats"]] = imputer.fit_transform(train[["Engine", "Power", "Seats"]])
test[["Engine", "Power", "Seats"]] = imputer.fit_transform(test[["Engine", "Power", "Seats"]])

In [331]:
train.isnull().sum()

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
Car_age              0
dtype: int64

#### The data now has no missing values

## Applying ML models

In [332]:
y = train.Price
X = train.drop(['Price'],axis=1)

In [333]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X,y,test_size=0.2)

### 1. Linear Regression

In [334]:
from sklearn.linear_model import LinearRegression

model1 = LinearRegression() 
model1.fit(X_train, y_train) 

y_pred = model1.predict(X_valid)

In [335]:
from sklearn import metrics
from sklearn.metrics import r2_score

print('Mean Absolute Error:', metrics.mean_absolute_error(y_valid, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_valid, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_valid, y_pred)))
print("R2 score : %f" % r2_score(y_valid,y_pred))

Mean Absolute Error: 0.19987041182409349
Mean Squared Error: 0.06736320406573448
Root Mean Squared Error: 0.25954422371868435
R2 score : 0.881247

### 2. Random Forest Regressor

In [336]:
from sklearn.ensemble import RandomForestRegressor

model2 = RandomForestRegressor(n_estimators=200)
model2.fit(X_train, y_train)
y_pred2 = model2.predict(X_valid)

In [337]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_valid, y_pred2))
print('Mean Squared Error:', metrics.mean_squared_error(y_valid, y_pred2))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_valid, y_pred2)))
print("R2 score : %f" % r2_score(y_valid,y_pred2))

Mean Absolute Error: 0.1259535213903282
Mean Squared Error: 0.029838162416090868
Root Mean Squared Error: 0.17273726412123955
R2 score : 0.947399

### 3. XGBoost Regressor

In [338]:
from xgboost import XGBRegressor

model3 = XGBRegressor(n_estimators=1000, learning_rate=0.05)
model3.fit(X_train, y_train, early_stopping_rounds=5, eval_set=[(X_valid, y_valid)], verbose=False)
y_pred3 = model3.predict(X_valid)

c:\Users\efara\OneDrive\Desktop\New folder\.venv\Lib\site-packages\xgboost\sklearn.py:889: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

In [339]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_valid, y_pred3))
print('Mean Squared Error:', metrics.mean_squared_error(y_valid, y_pred3))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_valid, y_pred3)))
print("R2 score : %f" % r2_score(y_valid,y_pred3))

Mean Absolute Error: 0.10577805849608796
Mean Squared Error: 0.021883570902658064
Root Mean Squared Error: 0.14793096667925235
R2 score : 0.961422

### 4. Ridge Regressor

In [340]:
from sklearn.linear_model import Ridge

model4 = Ridge(alpha=1.0)
model4.fit(X_train, y_train)
y_pred4 = model4.predict(X_valid)

In [341]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_valid, y_pred4))
print('Mean Squared Error:', metrics.mean_squared_error(y_valid, y_pred4))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_valid, y_pred4)))
print("R2 score : %f" % r2_score(y_valid,y_pred4))

Mean Absolute Error: 0.199866299277636
Mean Squared Error: 0.06736882072416768
Root Mean Squared Error: 0.25955504372708244
R2 score : 0.881237

### 5. Lasso Regressor

In [342]:
from sklearn.linear_model import Lasso

model5 = Lasso(alpha=1.0)
model5.fit(X_train, y_train)
y_pred5 = model5.predict(X_valid)

In [343]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_valid, y_pred5))
print('Mean Squared Error:', metrics.mean_squared_error(y_valid, y_pred5))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_valid, y_pred5)))
print("R2 score : %f" % r2_score(y_valid,y_pred5))

Mean Absolute Error: 0.33241133566783787
Mean Squared Error: 0.18868379216820616
Root Mean Squared Error: 0.43437747658943615
R2 score : 0.667373

### XGBoost Regressor has the best performance among the regressors chosen. So choosing XGBoost for prediciton on test values.

In [344]:
final_test_predictions = model3.predict(test)
final_test_predictions = np.exp(final_test_predictions)-1 #converting target to original state
type(final_test_predictions)

numpy.ndarray

### Exporting the predictions to the test dataset

In [345]:
test['Price'] = pd.Series(final_test_predictions)

In [346]:
test.to_csv('predictions.csv', index=False)

### Exporting the model as a .pkl

In [347]:
# export the model as a pickle file

import pickle
with open('model.pkl', 'wb') as file:
    pickle.dump(model3, file)

In [357]:
print("allowed_names:", allowed_names)
print("allowed_locations:", allowed_locations)
print("allowed_fuel_types:", allowed_fuel_types)
print("allowed_transmissions:", allowed_transmissions)
print("allowed_owner_types:", allowed_owner_types)


print("name_mapping:", name_mapping)
print("location_mapping:", location_mapping)
print("fuel_type_mapping:", fuel_type_mapping)
print("transmission_mapping:", transmission_mapping)
print("owner_type_mapping:", owner_type_mapping)

# use the model to make predictions
with open("model.pkl", "rb") as file:
    model = pickle.load(file)


# function to make predictions
def predict_price(
    name,
    location,
    year,
    kilometers_driven,
    fuel_type,
    transmission,
    owner_type,
    mileage,
    engine,
    power,
    seats,
    car_age,
):
    name = name_mapping[name]
    location = location_mapping[location]
    fuel_type = fuel_type_mapping[fuel_type]
    transmission = transmission_mapping[transmission]
    owner_type = owner_type_mapping[owner_type]

    data = [
        [
            name,
            location,
            year,
            kilometers_driven,
            fuel_type,
            transmission,
            owner_type,
            mileage,
            engine,
            power,
            seats,
            car_age,
        ]
    ]
    prediction = model.predict(data)
    return prediction[0]


# test the function
predicted_price = predict_price(
    "Maruti", "Mumbai", 2015, 10000, "Petrol", "Manual", "First", 25.0, 998, 58.2, 5, 5
)

# train.Price = np.log1p(train.Price)

# scale the price back to original scale
predicted_price = np.expm1(predicted_price)

# predicted_price is in lakhs so multiply by 100000
predicted_price = predicted_price * 100000

print(predicted_price)

allowed_names: ['Maruti' 'Hyundai' 'Honda' 'Audi' 'Nissan' 'Toyota' 'Volkswagen' 'Tata'
 'Land' 'Mitsubishi' 'Renault' 'Mercedes-Benz' 'BMW' 'Mahindra' 'Ford'
 'Porsche' 'Datsun' 'Jaguar' 'Volvo' 'Chevrolet' 'Skoda' 'Mini' 'Fiat'
 'Jeep']
allowed_locations: ['Mumbai' 'Pune' 'Chennai' 'Coimbatore' 'Hyderabad' 'Jaipur' 'Kochi'
 'Kolkata' 'Delhi' 'Bangalore' 'Ahmedabad']
allowed_fuel_types: ['CNG' 'Diesel' 'Petrol' 'LPG']
allowed_transmissions: ['Manual' 'Automatic']
allowed_owner_types: ['First' 'Second' 'Fourth & Above' 'Third']
name_mapping: {'Audi': 0, 'BMW': 1, 'Chevrolet': 2, 'Datsun': 3, 'Fiat': 4, 'Ford': 5, 'Honda': 6, 'Hyundai': 7, 'Jaguar': 8, 'Jeep': 9, 'Land': 10, 'Mahindra': 11, 'Maruti': 12, 'Mercedes-Benz': 13, 'Mini': 14, 'Mitsubishi': 15, 'Nissan': 16, 'Porsche': 17, 'Renault': 18, 'Skoda': 19, 'Tata': 20, 'Toyota': 21, 'Volkswagen': 22, 'Volvo': 23}
location_mapping: {'Ahmedabad': 0, 'Bangalore': 1, 'Chennai': 2, 'Coimbatore': 3, 'Delhi': 4, 'Hyderabad': 5, 'Jaipur': 6, 'Kochi': 7, 'Kolkata': 8, 'Mumbai': 9, 'Pune': 10}
fuel_type_mapping: {'CNG': 0, 'Diesel': 1, 'LPG': 2, 'Petrol': 3}
transmission_mapping: {'Automatic': 0, 'Manual': 1}
owner_type_mapping: {'First': 0, 'Fourth & Above': 1, 'Second': 2, 'Third': 3}
328755.90324401855